

/* ************ ADD YOUR CUSTOM STYLES ************ */

body {
  background-color: lightyellow;
}

.text {
  color: darkred;
}

th {
  background-color: floralwhite;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/****************/
/*   BAR-CHART  */
/****************/

.bar {
  fill: red;
}

.bar:hover {
  fill: indianred;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x-axis path {
  display: none;
}

.axis-title {
	fill: #888;
	font-size: 11px;
}

.table-design {
  width: 100%;
  text-align: left;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}


/****************/
/*   TOOLTIPS   */
/****************/

#tooltip {
  position: absolute;
  width: 100px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
#tooltip.hidden {
  display: none;
}
#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}