body {
    background-color: white;
}

h1 {
    text-decoration: underline;
    text-align: center;
}
a:hover {
    color: palevioletred;
}

#content > p {
    text-align: center;
    font-size: 15px;
    padding: 10px;
    color: black;
}

img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}
.btn {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.btn-primary {

}
